/*
	Limpando formatação
*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

.h-navegacao li{
	display: inline;
}


header{
	background-color: #1f90ff;
	padding: 15px;
	text-align: center; 
}

aside, section#postagem{
	background: #fff;

}

footer{
	clear:both;
	text-align: center;
	padding: 15px;
	background: #666;
}


h1{
	color:#262626;
	font-size: 2.5em;
}
a{
	text-decoration: none;
	padding: 10px 12px;
}

a:link, a:visited{
	color:#fff;
}
a:hover{
	color: orange;
}

#logo, #h-menu{
	padding: 10px;
}

#principal{
	width: 920px;
	margin: 0 auto;

}